<ion-content>

  <ion-grid>
    <!--ROW 1-->
    <ion-row style="flex-flow: column">

      <!--COL 1-->
      <ion-col col-12 id="col-1-map">
        <div #map id="map"></div>
      </ion-col>
      <!--COL 1-->

      <!--COL 2-->
      <ion-col col-12 id="col-2-forecast" *ngIf="mapLoaded">
        <!--Horizontal Scroll of the cards-->
        <ion-scroll scrollX="true" style="width: 100%; height: 38vh">
          <div class="inner">

            <ion-card>
              <!--Vertical scroll inside the card-->
              <ion-scroll scrollY="true" style=" height: 100%">
                <ion-card-header>
                <span class="forecastDate">
                  {{currentDate1 | date : 'yyyy/MM/dd' }}
                </span>
                </ion-card-header>
                <ion-card-content>
                  <span style="margin-left: 4px">Time:</span>
                  <span style="margin-left: 55px">Estimate(Watts):</span>
                  <ion-list>
                    <ion-item *ngFor="let forecast of currentDate1Forecast">
                    <span class="forecastTime"
                          *ngIf="forecast.period_end.includes(currentDate1 | date : 'yyyy-MM-dd'  )">
                      {{forecast.period_end | slice:11:16}}
                    </span>
                      <span class="forecastPower">
                      {{forecast.pv_estimate | number: '1.2-3'}}
                    </span>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-scroll>
            </ion-card>

            <ion-card>
              <ion-scroll scrollY="true" style=" height: 100%">
                <ion-card-header>
                  <span class="forecastDate">
                  {{currentDate2 | date : 'yyyy/MM/dd' }}
                </span>
                </ion-card-header>
                <ion-card-content>
                  <span style="margin-left: 4px">Time:</span>
                  <span style="margin-left: 55px">Estimate(Watts):</span>
                  <ion-list>
                    <ion-item *ngFor="let forecast of currentDate2Forecast">
                    <span class="forecastTime"
                          *ngIf="forecast.period_end.includes(currentDate2 | date : 'yyyy-MM-dd'  )">
                      {{forecast.period_end | slice:11:16}}
                    </span>
                      <span class="forecastPower">
                      {{forecast.pv_estimate | number: '1.2-3'}}
                    </span>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-scroll>
            </ion-card>

            <ion-card>
              <ion-scroll scrollY="true" style=" height: 100%">
                <ion-card-header>
                  <span class="forecastDate">
                  {{currentDate3 | date : 'yyyy/MM/dd' }}
                </span>
                </ion-card-header>
                <ion-card-content>
                  <span style="margin-left: 4px">Time:</span>
                  <span style="margin-left: 55px">Estimate(Watts):</span>
                  <ion-list>
                    <ion-item *ngFor="let forecast of currentDate3Forecast">
                    <span class="forecastTime"
                          *ngIf="forecast.period_end.includes(currentDate3 | date : 'yyyy-MM-dd'  )">
                      {{forecast.period_end | slice:11:16}}
                    </span>
                      <span class="forecastPower">
                      {{forecast.pv_estimate | number: '1.2-3'}}
                    </span>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-scroll>
            </ion-card>

            <ion-card>
              <ion-scroll scrollY="true" style=" height: 100%">
                <ion-card-header>
                  <span class="forecastDate">
                  {{currentDate4 | date : 'yyyy/MM/dd' }}
                </span>
                </ion-card-header>
                <ion-card-content>
                  <span style="margin-left: 4px">Time:</span>
                  <span style="margin-left: 55px">Estimate(Watts):</span>
                  <ion-list>
                    <ion-item *ngFor="let forecast of currentDate4Forecast">
                    <span class="forecastTime"
                          *ngIf="forecast.period_end.includes(currentDate4 | date : 'yyyy-MM-dd'  )">
                      {{forecast.period_end | slice:11:16}}
                    </span>
                      <span class="forecastPower">
                      {{forecast.pv_estimate | number: '1.2-3'}}
                    </span>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-scroll>
            </ion-card>


          </div>


        </ion-scroll>


        <div style="display: flex">
          <button class="forecastButton" ion-button (click)="refreshCapacity()">Set capacity</button>
          <button class="forecastButton" ion-button (click)="advanceSettings()">Advance settings</button>
          <button class="forecastButton" ion-button (click)="saveForecast()">Save forecast</button>
        </div>

      </ion-col>
      <!--COL 2-->

    </ion-row>
  </ion-grid>


</ion-content>
