page-home {
  #map{
    height: 100%;
    width: 100%;
  }

  #col-1-map{
    height: 200px;
  }

  #col-2-forecast{
    height: 200px;
    width: 200px;
  }

  .inner{
    display: flex;
    height: 100%;
    width: fit-content;
    background-color: #ffe1ca;
    ion-card{
      width: 250px;
      height: 180px;
      margin: 5px;
      .item-md{
        padding-left: 0;
        margin-left: -15px;

      }
    }
  }

}
