page-history {


  #col-2-forecast{
    height: 200px;
    padding: 0;
  }

  .inner{
    display: flex;
    height: 100%;
    width: fit-content;
    background-color: #b6b2b6;
    ion-card{
      width: 250px;
      height: 37vh;
      margin: 5px;
      .item-md{
        padding-left: 0;
      }
    }
  }

  .card-header-md{
    text-align: center;
    .forecastDate{
      font-size: 20px;
      text-align: center;
    }
  }


  .item-inner {
    padding: 0;
  }

  .forecastTime{
  }

  .forecastPower{
    margin-left: 18px;
  }

}
